
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                {% if obj.image %}
                <a href="{{ obj.get_absolute_url }}">
                    <img alt="{{obj.title}} logo" class="card-img-top" src="{{obj.image.url}}">
                </a>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{obj.title}}</h5>
                    <p class="card-text">{{obj.description|truncatewords:10 }}</p>
                    <a class="btn btn-warning" href="{{ obj.get_absolute_url }}">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
