{% if address_qs.exists %}
<form action='{{ action_url }}' method='POST'> {% csrf_token %}
    {% if next_url %}
    <input name='next' type='hidden' value='{{ next_url }}'/>
    {% endif %}
    {% if address_type %}
    <input name='address_type' type='hidden' value='{{ address_type }}'/>
    {% endif %}


    {% for address in address_qs %}
    <label for='address-{{ address.id }}'>
        <input id='address-{{ address.id }}' name='shipping_address' type='radio' value='{{ address.id }}'/>
        {{ address.address_line_1 }}
    </label><br/>
    {% endfor %}
    <button class='btn btn-success' type='submit'>Use Address</button>
</form>
{% endif %} 