<form action='{% url "cart:update" %}' class='form-product-ajax' class="form" data-endpoint='{% url "cart:update" %}'
      method='POST'> {% csrf_token %}
    <input name='product_id' type='hidden' value='{{ product.id }}'/>
    <span class='submit-span'>
    {% if product in cart.products.all %}
    <h5>In cart</h5>

    <button class="btn btn-link" type="submit">Remove?</button>
    {% else %}
    <button class="btn btn-success" type="submit">Add to cart?</button>

    {% endif %}
    </span>
</form>