{% extends 'base.html' %}

{% block content %}
<div class="container">
      <div class="row">
          <div class="col-12 col-md-6">
                <p>{{object.title}} </p>
                <br/><hr/>
                <p>{{object.description}}</p>
                <br/><hr/>
                <p>{{object.price}}</p>
                <br/><hr/><hr/>
                {% if object.image %}
              <img align="right" class="img-fluid" src='{{object.image.url}}'/>
                {% endif %}
          </div>
          <div class="col-12 col-md-6">
              {% include 'carts/update_cart.html' with product=object cart=cart%}

          </div>
      </div>
</div>
{% endblock %}
